# Copyright (c) 2021 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

if BOARD_ELITE_PI_RP2040_CLONE

config BOARD
	default "elite_pi_rp2040_clone"

config RP2_FLASH_W25Q080
	default y

endif # BOARD_ELITE_PI_RP2040_CLONE
