# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CARDBOARDIO_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cardboardio"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CARDBOARDIO_LEFT || SHIELD_CARDBOARDIO_RIGHT

config ZMK_SPLIT
    default y

endif
